*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/bugly/
/.idea/
/.gradle/
*/build
*.apphelper
/outputs/
/app/.idea/
/java/bin/main/com/java/model/
/gradle/29/
/gradle/31/
/app/free/
/app/pro/
/app/education/
